body {
    font-family: 'Righteous', cursive;
}

header {
    background-image: linear-gradient(to right, #3f87a6, #ebf8e1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

button {
    width: 40px;
    height: 40px;
    background-color: #3f87a6;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;    
}

button:hover {
    background-color: #fff;
    color: #3f87a6;
}

#weatherResult {
    font-size: 1.2em;
    font-weight: bold;
    color: #3f51b5;
    margin-top: 1em;
}

#weatherResult img {
    width: 100px;
    height: 100px;
}

.new_footer_top {
    padding: 100px 0px 200px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("./airPlane/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("./airPlane/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("./airPlane/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}